.App {
  text-align: center;
  background-color: rgb(32, 25, 32);
  font-family: 'McLaren', cursive;
  color: whitesmoke;
}

h1 {
  margin: 20px 0px;
  padding: 20px;
  
}

.link {
  margin: 20px; 
}

.title {
  font-size: 1.5em;
  
}

a {
  text-decoration: underline;
  color: whitesmoke;

}

a:hover {
  color:rgb(91, 110, 55);
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
}

input {
  margin: 0 10px;
}

select {
  margin: 0 10px;
}

.home-link {
  padding: 20px;
}


.page-body {
  display: flex;
  flex-direction: column;

}

nav {
  display:flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: rgb(91, 110, 55) 5px solid;
  border-left: rgb(91, 110, 55) 5px solid;
  border-right: rgb(91, 110, 55) 5px solid

}

.videos {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

img {
  width: 400px;
  margin-bottom: 40px;
}

.createForm {
  border-top: rgb(91, 110, 55) 5px solid;
  border-left: rgb(91, 110, 55) 5px solid;
  border-right: rgb(91, 110, 55) 5px solid;
  padding-bottom: 30px;
  margin-top: 700px;
}

.band-photo img {
  width: 175px;
  border-radius: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
