/* UNIVERSAL CSS */
.App {
  text-align: center;
  background-color: rgb(32, 25, 32);
  font-family: 'McLaren', cursive;
  color: whitesmoke;
}
a {
  text-decoration: underline;
  color: whitesmoke;
}
a:hover {
  color:rgb(91, 110, 55);
  transition: 0.3s ease;
}

/* UNIVERSAL NAV BUTTON ANIMATION */
.navButton {
	line-height: 53px;
	height: 50px;
	text-align: center;
	width: 110px;
  cursor: pointer;
  color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.navButton::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  background-color: rgb(91, 110, 55, .1);
	transition: all 0.3s;
}
.navButton:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.navButton::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
  border: 2px solid rgb(32, 25, 32);
  background-color: rgb(91, 110, 55, .1);
  transform: scale(1.2,1.2);
  box-shadow: 0 0 30px rgb(32, 25, 32);
}
.navButton:hover::after {
	opacity: 1;
  transform: scale(1,1);
}

/* UNIVERSAL BASIC NAV CSS */
nav {
  background-color: rgb(91, 110, 55);
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-family: arial;
}
nav a {
  text-decoration: none;
}
.navBar {
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
}
.navPageTitle {
  width: 20%;
  display:flex;
  justify-content: center;
}


/* UNIVERSAL HEADER CSS & #HEADPHOTO */
#homeHeaderPhoto {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.goodfreephotos.com%2Falbums%2Fpeople%2Fcrowd-and-lights-at-a-concert.jpg&f=1&nofb=1);
  background-size: cover;
}

#allConcertsHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
}

.header {
  display: flex;
}

.headerLeft {
  width: 20%;
  background-color: black;

}

.headerRight {
  width: 80%;
  height: 600px;
}

.headerRight h1 {
  font-size: 34px;
  margin: 105px 0 0 -40px;
  text-align: left;
}



/* UNIVERSAL BODY */
.body {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.bodyTitle {
  font-size: 1.5em;
  border: 5px solid black;
  background-color:rgb(91, 110, 55);
  margin: 0 auto;
  width: 300px;
  border-radius: 25px;
}



/* HOME CSS */
.homeLink p {
  width: 515px;
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 80px;
}
.homeLink p:hover {
  box-shadow: 0px 0px 30px rgb(91, 110, 55);
  background-color: rgb(91, 110, 55);
  color:whitesmoke;
  transition: .8s;
}
.homeLink a {
  text-decoration: none;
}
.homeLink img {
  border-radius: 20px;
}



/* oneConcert */
#oneConcertHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
  background-size: cover;
}

.oneConcertInfo {
}

.oneConcertTitle {
  font-size: 1.5em;
}




.link {
  margin: 20px; 
}





.oneBandTitle {
  font-size: 1.5em;
}

.oneBandInfo {
  margin: -715px 0 300px 87px;
}

.oneBandVideosList{
  padding-bottom: 150px;
}

.oneBandVideosList h2 {
  font-size: 3em;
  border: 5px solid black;
  background-color:rgb(91, 110, 55);
  margin: 0 auto;
  width: 565px;
  border-radius: 25px;
  padding: 30px 0;
}


.titleNotHomePage {
  font-size: 1.5em;
  padding: 0px;
  width: 15%;
  padding: 15px 40px 0 40px;
}

.oneVenueInfoTop {
  margin: 20px auto
}

.oneVenueInfoBottom {
  display:flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 925px;
  padding-top: 45px;
}

.oneVenueInfoBottom img {
  border-radius: 25px;
}


.oneVenueInfo {
  margin:-780px 0 0 105px;
  padding-bottom: 200px;
}

.oneVenueTitle {
  font-size: 1.5em;
}

.listOfVenuesContainer {
  margin:45px 0;
}

.venueListName {
  margin:20px;
}



.venueListImage {
  border-radius: 25px;
  width:300px;
}
.myVideosContainer h2 {
  font-size: 3em;
  border: 5px solid black;
  background-color:rgb(91, 110, 55);
  margin: 0 auto;
  width: 463px;
  border-radius: 25px;
  padding: 30px 0;
}

.listOfBandsContainer {
  margin:62px 0;
}

input {
  margin: 0 10px;
}

select {
  margin: 0 10px;
}

.myConcertListItem {
  background: black;
  margin: 50px 500px;
  display: flex;
  justify-content: center;
  padding: 6px;
}

.myConcertListItem:hover {
  box-shadow: 0px 0px 30px rgb(91, 110, 55);
  transition: .3s ease;
}

.myFullConcertList {
  margin: 37px;
}

.videos {
  display: flex;
  justify-content: center;
  margin:70px;
}

img {
  width: 400px;
  margin-bottom: 40px;
}

#deleteConcertButton {
  margin:50px;
}

.createForm {
  border-top: rgb(91, 110, 55) 5px solid;
  border-left: rgb(91, 110, 55) 5px solid;
  border-right: rgb(91, 110, 55) 5px solid;
  padding-bottom: 30px;
  margin-top: 700px;
}

.band-photo img {
  width: 175px;
  border-radius: 50%;
}





