/* UNIVERSAL CSS */
.App {
  text-align: center;
  background-color: rgb(32, 25, 32);
  font-family: 'McLaren', cursive;
  color: whitesmoke;
}
a {
  text-decoration: underline;
  color: whitesmoke;
}
input {
  margin: 0 10px;
}
select {
  margin: 0 10px;
}
.createFormArea {
  margin: 80px auto;
}
.createForm {
  background-color: rgb(91, 110, 55);
  border: whitesmoke 5px solid;
  padding: 0 30px 30px 30px;
}
.createNewFormButton {
  padding: 10px 8px;
  border-radius: 10px;
  margin: 20px auto;
  font-weight: bold;
}
.createNewFormButton:hover{
  background-color: rgb(91, 110, 55);
  border: solid 1px rgb(91, 110, 55);
  color: whitesmoke;
  cursor: pointer;
}
.submitFormButton{
  padding: 10px 8px;
  border-radius: 10px;
  font-weight: bold;
}
.submitFormButton:hover{
  background-color: rgb(95, 29, 95);
  border: solid 1px rgb(95, 29, 95);
  color: whitesmoke;
  cursor: pointer;
}
.videosListContainer {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: 0 auto;
}
.videos {
  display: flex;
  justify-content: center;
  margin:50px auto;
}
.deleteButton {
  width: 150px;
  margin: 50px auto;
  padding: 10px 8px;
  font-weight: bold;
  border-radius: 10px;
}
.deleteButton:hover {
  background-color: red;
  border: solid 1px red;
  color: whitesmoke;
  cursor: pointer;

}


/* UNIVERSAL NAV BUTTON ANIMATION */
.navButton {
	line-height: 53px;
	height: 50px;
	text-align: center;
	width: 110px;
  cursor: pointer;
  color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.navButton::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  background-color: rgb(91, 110, 55, .1);
	transition: all 0.3s;
}
.navButton:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.navButton::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
  border: 2px solid rgb(32, 25, 32);
  background-color: rgb(91, 110, 55, .1);
  transform: scale(1.2,1.2);
  box-shadow: 0 0 30px rgb(32, 25, 32);
}
.navButton:hover::after {
	opacity: 1;
  transform: scale(1,1);
}


/* UNIVERSAL BASIC NAV CSS */
nav {
  background-color: rgb(91, 110, 55);
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-family: arial;
}
nav a {
  text-decoration: none;
}
.navBar {
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
}
.navPageTitle {
  width: 20%;
  display:flex;
  justify-content: center;
}


/* UNIVERSAL HEADER CSS & #HEADERPHOTO */
#homeHeaderPhoto {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.goodfreephotos.com%2Falbums%2Fpeople%2Fcrowd-and-lights-at-a-concert.jpg&f=1&nofb=1);
  background-size: cover;
}
#allConcertsHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
}
#oneConcertHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
  background-size: cover;
}
#allBandsHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1499364615650-ec38552f4f34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1932&q=80);
  background-size: cover;
}
#oneBandheaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
  background-size: cover;
}
#allVenuesHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1561114601-81d07393ee3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
  background-size: cover;
}
#oneVenueHeaderPhoto {
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
  background-size: cover;
}
.header {
  display: flex;
}
.headerLeft {
  width: 20%;
  background-color: black;
}
.headerRight {
  width: 80%;
  height: 700px;
}
.headerRight h1 {
  font-size: 34px;
  margin: 105px 0 0 -55px;
  text-align: left;
}


/* UNIVERSAL BODY CSS*/
.body {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.bodySectionTitle {
  width: 300px;
  margin: 0 auto;
  padding: 18px 0;
  border: 5px solid black;
  background-color:rgb(91, 110, 55);
  border-radius: 25px;
}


/* HOME PAGE CSS */
.homeLink p {
  width: 515px;
  padding: 20px 0 60px 0;
  margin: 0 auto;
  border-radius: 80px;
}
.homeLink p:hover {
  box-shadow: 0px 0px 30px rgb(91, 110, 55);
  background-color: rgb(91, 110, 55);
  color:whitesmoke;
  transition: .3s;
}
.homeLink a {
  text-decoration: none;
}
.homeLink img {
  border-radius: 20px;
  width: 400px;
}


/* ALL CONCERTS PAGE CSS */
.myShowsArea {
}
#myShowsSectionTitle {
  width: 220px;
}
.myFullConcertList {
}
.myConcertListItemWidthAndSpacing {
  width: 400px;
  margin: 15px auto;
}
.myConcertListItemWidthAndSpacing a:hover {
  color:rgb(104, 131, 52);  /* a little more neon than normal green used*/
  cursor: pointer;
}
.myConcertListItemDescriptionAndLink {
  background: black;
  padding: 10px;
  border-radius: 25px;
}
.myConcertListItemDescriptionAndLink:hover {
  box-shadow: 0px 0px 50px rgb(91, 110, 55);
  transition: .3s ease;
}
.myConcertListItemWidthAndSpacing a {
  text-decoration: none;
}


/* ONE CONCERT PAGE CSS */
.oneConcertInfo {
}
.myConcertVideosSection {
}
.oneConcertInfo h1 {
  margin: 45px auto;
  text-align: center;
}
.oneConcertInfo a:hover {
  color:rgb(104, 131, 52);  /* a little more neon than normal green used*/
}


/* ALL BANDS PAGE CSS */
.allBandsSectionContainer{
}
.listOfBandsContainer {
  margin: 25px auto;
}
.oneBandFromListOfBands {
  width: 315px;
  margin: 0 auto;
  padding: 20px;
}
.oneBandFromListOfBands a {
  text-decoration: none;
}
.oneBandFromListOfBands p {
  padding: 1px 0 20px 0;
  border-radius: 20px;
  transition: .3s;
}
.oneBandFromListOfBands p:hover {
  background-color: rgb(91, 110, 55);
}
.oneBandPhotoFromListOfBands img {
  width: 195px;
  border-radius: 10px;
}


/* ONE BAND PAGE CSS */
.oneBandInfo h1 {
  text-align: center;
  margin: 45px auto;
}
.oneBandInfo img {
  width: 300px;
  border-radius: 10px;
}
.oneBandVideosSection{
}
#featuredShowsAndVideosTitle {
  width: 380px;
}


/* ALL VENUE PAGE CSS */
.allVenuesSectionContainer{
}
.listOfVenuesContainer {
  margin: 25px auto;
}
.oneVenueFromListOfVenues{
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.oneVenueFromListOfVenues p {
  padding: 1px 0 20px 0;
  border-radius: 20px;
  transition: .3s;
}
.oneVenueFromListOfVenues p:hover {
  background-color: rgb(91, 110, 55);
}
.oneVenuePhotoFromListOfVenues img {
  width: 450px;
  border-radius: 10px;
}
.oneVenueFromListOfVenues a {
  text-decoration: none;
}


/* ONE VENUE PAGE CSS */
.oneVenueInfo h1 {
  text-align: center;
  margin: 45px auto;
}
.oneVenueInfo img {
  border-radius: 25px;
  width: 450px;
  margin: 30px;
}
#oneVenueBody {
  height: 200px;;
}

